$btn-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$btn-box-shadow-hover: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

button {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  cursor: pointer;
}

.btn, .btn--raised {
  background: 0;
  color: $color-pokedex-red;
  padding: 12px 20px;
  border: 0;
  display: inline-block;
  min-width: 90px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-transform: uppercase;
  margin: 0 4px 8px 4px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;

  &:hover { 
    background-color: rgba(158,158,158,0.2);
  }

  &:active:not(:focus) {
    outline: none;
  }

  &--raised {
    background-color: $color-pokedex-red;
    color: $color-white;
    box-shadow: $btn-box-shadow;

    &:hover {
      box-shadow: $btn-box-shadow-hover;
      background-color: lighten($color-pokedex-red, 4%);
    }
  }

  &--clear {
    background-color: transparent;
  }

  &[disabled] {
    box-shadow: none;
    background-color: $color-grey;
  }
}

.btn--fab {
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  background: rgba(158,158,158,.2);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  line-height: normal;
  position: fixed;
  border: 0;
  background-color: $color-pokedex-red;
  color: $color-white;
  outline: none;
}
