$color-pokedex-red: #EF5350;
$color-white: #fff;
$color-grey: #ccc;
$color-grey-dark: #2d2d2d;
$color-grey-light: #efefef;
$color-body: #ededed;
$color-img-background: #d4d4d4;
$color-transparent-grey: rgba(0, 0, 0, 0.8);